.userInfo {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.avatar {
    width: 150px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 10px;
    font-size: 20px;
}

.label {
    margin-left: 20px;
}